@charset "UTF-8";
* {
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-image: url(../source/1page-Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.container {
  width: 1140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  display: flex;
}

.header-container {
  width: 1140px;
  height: 700px;
}

.list-items {
  display: flex;
}
.list-items li:hover {
  color: red;
}
.list-items li {
  cursor: pointer;
  font-family: 'Proxima Nova Cn Rg';
  list-style-type: none;
  margin-right: 20px;
  font-size: 14px;
}
.list-items li:last-child {
  margin-right: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header h2 {
  font-family: 'Proxima Nova Bl';
  font-size: 24px;
}
.header_img {
  height: 22px;
  width: 22px;
  margin-right: 12px;
}

.header-menu {
  display: flex;
  align-items: center;
}

.main_text {
  margin-top: 170px;
  font-family: 'Proxima Nova Bl';
  font-size: 48px;
}
.main_text span {
  color: #ffc300;
}

.paragraph-text {
  font-family: 'Proxima Nova Cn Rg';
  font-size: 20px;
  margin-top: 14px;
}

.button {
  height: 60px;
  width: 223px;
  margin-top: 40px;
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 20px;
  font-family: 'Proxima Nova Cn Rg';
  margin-bottom: 80px;
}

.intermedia {
  width: 1160px;
  height: 190px;
  margin: 0 -10px;
}

.section-container {
  width: 1140px;
  height: 900px;
}

.section-container {
  padding-top: 150px;
}
.section-container h2 {
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: 'Proxima Nova Bl';
}
.section-container h2 span {
  color: #ffc300;
}

.section-header h2 {
  margin-bottom: 40px;
  font-size: 24px;
  font-family: 'Proxima Nova Bl';
}

.section-header-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.section-cards {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.section-card {
  text-align: center;
  width: 275px;
  height: 420px;
  box-shadow: 0px 5px 15px 2px rgba(34, 60, 80, 0.66);
}
.section-card p {
  color: #ffc300;
}
.section-card h3 {
  color: #000;
}

.like {
  height: 50px;
  width: 50px;
  border: #000 solid 2 px;
  margin-right: 5px;
}

.ok {
  height: 50px;
  width: 50px;
  border: #000 solid 2 px;
}

.bgc {
  background-color: #f4f4f4;
  height: 180px;
}
.bgc h3 {
  font-family: 'Proxima Nova Th';
  font-size: 14px;
  padding-top: 15px;
}
.bgc p {
  font-family: 'Proxima Nova Bl';
  font-size: 18px;
}

.button-img {
  height: 20px;
  width: 20px;
}

.about-bgc {
  background-image: url(../source/Aкции.jpg);
  height: 350px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background-size: cover;
  width: 1500px;
}

.about {
  width: 1140px;
  height: 350px;
  width: 1500px;
  text-align: center;
}
.about h2 {
  font-size: 40px;
  font-family: 'Proxima Nova Th';
}
.about h3 {
  font-size: 36px;
  font-family: 'Proxima Nova ExCn Rg';
}
.about button {
  font-size: 20px;
  font-family: 'Proxima Nova Cn Rg';
  height: 64px;
  width: 221px;
  background-color: initial;
  border: 2px solid white;
  cursor: pointer;
}

.new-items-container {
  text-align: center;
  height: 600px;
}

.new-items-inner h3 {
  color: #000;
}
.new-items-inner h3 span {
  color: #ffc300;
}

.new-items-card {
  width: 230px;
}
.new-items-card p {
  color: #ffc300;
}

.new-items-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new-items-inner {
  width: 1140px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  height: 105px;
  width: 275px;
  margin-bottom: 100px;
}
.card p {
  color: #ffc300;
  margin-bottom: 35px;
}

.card-img {
  display: flex;
}

.card-inner {
  width: 160px;
  margin-left: 20px;
  text-align: left;
}
.card-inner h3 {
  font-size: 20px;
  font-family: 'Proxima Nova ExCn Rg';
}
.card-inner p {
  font-family: 'Proxima Nova ExCn Rg';
  font-size: 20px;
}

.buttons button {
  margin-right: 15px;
}
.buttons button img {
  height: 30px;
  width: 30px;
}

#margin {
  margin: 50px 0;
  font-size: 24px;
  font-family: 'Proxima Nova Bl';
}

.question-container-bgc {
  height: 380px;
  width: 1500px;
  background-image: url(../source/Rectangle\ 18.jpg);
  text-align: center;
}
.question-container-bgc h3 {
  margin-top: 70px;
  margin-bottom: 50px;
}

.question-container-inner {
  width: 1500px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.question-container-inner__form {
  display: flex;
  width: 1000px;
  justify-content: center;
}
.question-container-inner__form input {
  width: 450px;
  height: 45px;
}

#name {
  background-color: transparent;
  border: 1px solid white;
}

#phone {
  margin-bottom: 50px;
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid white;
}

#button-form {
  width: 206px;
  height: 54px;
  background-color: transparent;
  border: 1px solid white;
}

.work-img {
  height: 265px;
}

.footer-container {
  width: 1500px;
  height: 262px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001d3d;
}

.footer-inner {
  width: 1140px;
}
.footer-inner {
  display: flex;
  justify-content: center;
  width: 1500px;
}
.footer-inner__container {
  display: flex;
  justify-content: space-between;
  width: 1140px;
}
.phone-number {
  margin-bottom: 10px;
}
.phone-number a {
  text-decoration: none;
}

.email {
  margin-bottom: 23px;
}
.email a {
  text-decoration: none;
}

.footer-inner-news-button__form button {
  height: 41px;
  width: 110px;
  background-color: #ffc300;
  border: 0;
  margin-left: -5px;
}

#email {
  height: 35px;
  width: 280px;
  background-color: transparent;
  border: 1px solid white;
}

.footer-inner__news h2 {
  font-size: 18px;
  font-family: 'Proxima Nova Th';
}

.footer-inner-logo__buttons button {
  background-color: transparent;
  border: 0;
}
.footer-inner-logo__buttons button img {
  height: 20px;
  width: 20px;
} /*# sourceMappingURL=style.css.map */
